@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#logo {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
}

a {
    margin-right: 45px;
    text-decoration: none;
}

header > a > span:not(:hover) {
    transition: 0.2s;

    color: #343434;
    text-decoration-style: 'Relaway';
    text-decoration: none;

}

header > a > span:hover {
    transition: 0.2s;

    color: rgb(200, 200, 200);
    text-decoration-style: 'Relaway';
    text-decoration: none;

}

#content {
    display: block;
    text-align: center;
    margin-top: 40px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}


input {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;


    width: 25%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    border-width: 2px;
}

input:not(:hover) {
    transition: 0.3s;
    background-color: rgb(210, 34, 43);

    border-style: solid;
    border-color: rgb(236, 236, 236);

    color: rgb(222, 233, 222);
}

input:hover {
    transition: 0.3s;
    background-color: rgb(195, 47, 61);
    border-width: 2px;
    border-style: double;
    border-color: rgb(215, 191, 164);

    color: rgb(222, 233, 222);

    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input:active {
    background-color: rgb(83, 36, 163);
    outline: none;
}

#file {
    opacity: 0;
    width: 0.00001px;
    height: 0.00001px;
    overflow: hidden;
}

label > span {
    display: inline-block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(210, 34, 43), rgb(205, 27, 79));
    color: rgb(222, 233, 222);
}

#bottom {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 25px;
    padding-bottom: 25px;

    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);

    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#result {
    width: 100%;
    height: auto;
}

#result > img {
    display: block;
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
