<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TYI-2019</title>
    <link rel="stylesheet" href="./temp/css/bootstrap.min.css">
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
    <body>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}">

    <header>
        <a href="algo"><span>Algo</span></a>
        <a href="blur"><span>Blur</span></a>
        <a href="map"><span>Map</span></a>
        <a href="water"><span>Water</span></a>
    </header>

    <div id="content">
        <a href="algo"><img class="nav" src="{{ url_for('static', filename='maps.png') }}" alt=""></a>

        <a href="blur"><img class="nav" src="{{ url_for('static', filename='nav-example.png') }}" alt=""></a>

        <a href="map"><img class="nav" src="{{ url_for('static', filename='nav-example.png') }}" alt=""></a>

        <a href="water"><img class="nav" src="{{ url_for('static', filename='nav-example.png') }}" alt=""></a>
    </div>

    <div id="bottom">
        © XLV.NORTH
    </div>

</body>
</html>
   

    