<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="{{ url_for('static', filename='navstyle.css') }}" />

    <title>Map</title>
</head>
<body>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}">

    <header>
        <a href="algo"><span>Algo</span></a>
        <a href="blur"><span>Blur</span></a>
        <a href="map"><span>Map</span></a>
        <a href="water"><span>Water</span></a>
    </header>

    <div id="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolorum alias explicabo commodi consequatur consectetur vero laboriosam. Similique impedit, vel magnam, quod dolorum, rem earum ea aperiam veritatis ut beatae, illo eum! Quas a, cumque fugit explicabo harum provident doloribus at in dicta. Sequi, quas nulla quod voluptatum ullam, laboriosam.
        </p>

        

        <form method="post" enctype=multipart/form-data>
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file"><span>Choose a file</span></label>

            <input type="submit" value="send">
        </form>
    </div>

    <div id="bottom">
        © XLV.NORTH
    </div>

</body>
</html>
