<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="{{ url_for('static', filename='navstyle.css') }}" />

    <title>Result</title>
</head>
<body>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}">

    <header>
        <a href="algo"><span>Algo</span></a>
        <a href="blur"><span>Blur</span></a>
        <a href="map"><span>Map</span></a>
        <a href="water"><span>Water</span></a>
    </header>

    <div id="result">    
        <img src="{{ url_for('static', filename='res.jpg') }}", alt="">
    </div>

    <div id="bottom">
        © XLV.NORTH
    </div>

</body>
</html>
